/.github
/.husky
/.vscode
/.yarn
/node_modules
/scripts
/src
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitignore
/.prettierignore
/.prettierrc.json
/.yarnrc.yml
/git-hook-tasks.config.json
/tsconfig.json
